.qr__check {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
  align-items: center;
}
.qr__code {
  margin-right: 20px;
}
.qr__verify {
  width: 70%;
  height: 72px;
}
.qr__button {
  display: block;
  margin: 0 auto;
}