.footer-section {
  flex: 0 0 auto;
  background: #fcfeff;
  .contact-section{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #c8ced4;
    background-color: #fcfeff;
    .contact-section-wrapper{
      width: 100%;
    }
    h2{
      text-align: center;
      padding-top: 0px;
      font-family: Avenirnext, sans-serif;
      color: #5f5f6b;
      line-height: 36px;
      font-weight: 400;
      font-size: 36px;
      margin-bottom: 35px;
      margin-top: 16px;
    }
    h6{
      font-family: Avenirnext, sans-serif;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #3537ab;
      padding: 0 4px;
    }
    .contact-info-wrapper{
      display: flex;
      margin-top: 16px;
      align-items: center;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      .telegram-btn{
        margin-right: 24px;
      }
    }
  }
  .footer-layout {
    display: flex;
    padding: 24px 42px;
    justify-content: flex-start;
    align-items: stretch;
    border-top: 1px solid rgba(95, 95, 107, .1);
    background-color: #f1f8fe;
  }

  .logo.footer-logo {
    width: auto;
    margin-right: 16px;
  }

  .left-footer {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .left-footer-link{
    line-height: 32px;
  }
  .prefooter-left{
    display: inline-block;
    width: 65%;
  }
  .prefooter-right{
    display: inline-block;
    width: 35%;
  }
  .copyright-text {
    font-family: Avenirnext, sans-serif;
    color: rgba(95, 95, 107, .7);
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
  }
  .f-m-top{
    margin-top: 25px;
  }
  .social-media-2 {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 auto;
    .sm-link-2.header.blue-icon{
      width: 37px;
      height: 37px;
    }
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media all and (max-width: 991px){
  .footer-section {
    .contact-section{
      padding: 30px 0;
      .contact-info-wrapper,
      .social-media-2{
        display: inline-flex;
      }
      h2{
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 30px;
      }
      h6{
        margin-top: 20px;
      }
      .contact-info-wrapper{
        .telegram-btn{
          margin-right: 15px;
        }
      }
    }
    .prefooter-blocks-wrapper{
      text-align: center;
    }
    .prefooter-left,
    .prefooter-right{
      display: inline-block;
      width: 100%;
    }
    .f-m-top{
      margin: 0;
    }
    .footer-layout{
      padding: 15px 20px;
    }
    .left-footer{
      display: block;
    }
    .copyright-text{
      margin-top: 5px;
      position: relative;
      margin-right: -90px;
    }
  }
}